.container {
    flex-grow: 1;
    padding: 1rem 3rem 1.5rem 1rem;
    margin: 1rem 0 1rem 0;
    border-radius: 8px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: solid 1px var(--relief);
    background-color: var(--light-background);
}

.flexContainer {
    flex: 1;
    display: flex;
    max-width: 54rem;
    min-height: 48rem;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
}

