.container {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex: 1 0 auto;
    height: 0;
}

.contentContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 auto;
    justify-content: center;
    overflow-y: auto;
    flex: 1 1 600px;
}

.containerGrid {
    width: 100%;
}

.modal {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.textInputContainer {
    margin: 0.5rem 1rem 0.5rem 1rem;
    display: flex;
    flex-direction: column;
}

.textInput {
    height: 2.5rem;
    border-radius: 8px;
    box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.25);
    border: solid 1px var(--accent);
    background-color: var(--light-background);
    text-indent: 1rem;
}

.textInputInvalid {
    composes: textInput;
    border: solid 1px var(--bullshit-red);
}

.label {
    margin: 0 0.5rem 0 0.5rem;
    height: 1.5rem;
    composes: tag from '../index.css';
    text-align: left;
    color: var(--font-light);
}

.errorLabel {
    composes: tag from '../index.css';
    height: 1.5rem;
    margin: 0 0.5rem 0 0.5rem;
    color: var(--bullshit-red);
}

.button {
    margin-top: 2rem;
    width: 12.5rem;
    height: 3rem;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
    background-color: var(--relief);
    composes: Heading3 from '../index.css';
    color: var(--light-background);
    align-self: center;
}

.button:active {
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.25);
    background-color: var(--accent);
}

.buttonDisabled {
    composes: button;
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.25);
    background-color: var(--font-light);
    
}

.buttonDisabled:active {
    background-color: var(--font-light);
}